﻿@model VendingInspection.Models.InventoryItem
@{
    ViewBag.Title = "Details";
}
<h2>
    Inventory Details</h2>
<div style="height: 20px">
</div>
<div class="form_table">
    <div>
        <div class="form_leftColumn">
            @Html.DisplayNameFor(model => model.ServiceCenterCode)
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.ServiceCenterCode)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayNameFor(model => model.ItemCode)
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.ItemCode)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayNameFor(model => model.ItemName)
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.ItemName)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayNameFor(model => model.SupplierName)
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.SupplierName)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayNameFor(model => model.MachineDetails)
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.MachineDetails)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayNameFor(model => model.Quantity)
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.Quantity)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayNameFor(model => model.Rate)
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.Rate)
        </div>
    </div>
</div>
<div style="clear: both; height: 20px">
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
