﻿@model VendingInspection.Models.InventoryItem
@{
    ViewBag.Title = "Edit";
}
<h2>
    Edit</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ItemId)
    <div style="clear: both; height: 10px">
    </div>
    <div class="div-editor-label">
        @Html.LabelFor(model => model.ServiceCenterCode)
    </div>
    <div class="div-editor-field">
        @Html.EditorFor(model => model.ServiceCenterCode)
        @Html.ValidationMessageFor(model => model.ServiceCenterCode)
    </div>
    <div class="div-editor-label">
        @Html.LabelFor(model => model.ItemCode)
    </div>
    <div class="div-editor-field">
        @Html.EditorFor(model => model.ItemCode)
        @Html.ValidationMessageFor(model => model.ItemCode)
    </div>
    <div class="div-editor-label">
        @Html.LabelFor(model => model.ItemName)
    </div>
    <div class="div-editor-field">
        @Html.EditorFor(model => model.ItemName)
        @Html.ValidationMessageFor(model => model.ItemName)
    </div>
    <div class="div-editor-label">
        @Html.LabelFor(model => model.SupplierName)
    </div>
    <div class="div-editor-field">
        @Html.EditorFor(model => model.SupplierName)
        @Html.ValidationMessageFor(model => model.SupplierName)
    </div>
    <div class="div-editor-label">
        @Html.LabelFor(model => model.MachineDetails)
    </div>
    <div class="div-editor-field">
        @Html.EditorFor(model => model.MachineDetails)
        @Html.ValidationMessageFor(model => model.MachineDetails)
    </div>
    <div class="div-editor-label">
        @Html.LabelFor(model => model.Quantity)
    </div>
    <div class="div-editor-field">
        @Html.EditorFor(model => model.Quantity)
        @Html.ValidationMessageFor(model => model.Quantity)
    </div>
    <div class="div-editor-label">
        @Html.LabelFor(model => model.Rate)
    </div>
    <div class="div-editor-field">
        @Html.EditorFor(model => model.Rate)
        @Html.ValidationMessageFor(model => model.Rate)
    </div>
    <div style="clear: both; height: 10px">
    </div>
    <div style="clear: both; height: 20px">
    </div>
    <p>
        <input type="submit" value="Save" />
    </p>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
