﻿@using GridMvc.Html
@model IEnumerable<VendingInspection.Models.InventoryItem>
@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
<div style="height: 490px">
    <div style="height: 50px;">
        <h2>
            Manage Inventory Items</h2>
    </div>
    <div style="height: 440px;">
        <div style="height: 40px;">
            <span id="id_0" class="button_example" style="cursor: pointer;">
                @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "Button" })
            </span>
        </div>
        <div style="height: 400px; vertical-align: top">
            @Html.Grid(Model).Columns(columns =>
                                          {

                                              columns.Add(c => c.ItemName).Titled("Item Name");
                                              columns.Add(c => c.Quantity).Titled("Quantity");
                                              columns.Add()
                                                  .Titled("Action")
                                                  .Sanitized(false)
                                                  .Encoded(false)
                                                  .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { Id = o.ItemId }, null).ToHtmlString() + Html.ActionLink("Delete", "Delete", new { Id = o.ItemId }, null).ToHtmlString() + Html.ActionLink("Details", "Details", new { Id = o.ItemId }, null).ToHtmlString());

                                          }).WithPaging(200).Sortable(true)
        </div>
    </div>
</div>
