﻿@model VendingInspection.Models.UserDetail
@{
    ViewBag.Title = "Details";
}
<h2>
    User Details</h2>
<div style="height: 20px">
</div>
<div class="form_table">
    <div>
        <div class="form_leftColumn">
            @Html.DisplayNameFor(model => model.UserId)
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.UserId)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayNameFor(model => model.UserName)
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.UserName)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayNameFor(model => model.Password)
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.Password)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayNameFor(model => model.FirstName)
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayNameFor(model => model.LastName)
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.LastName)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayNameFor(model => model.Address)
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.Address)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayNameFor(model => model.City)
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.City)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayNameFor(model => model.State)
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.State)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayNameFor(model => model.ZipCode)
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.ZipCode)
        </div>
    </div>
</div>
<div style="clear: both; height: 20px">
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
