﻿@model VendingInspection.Models.UserDetail
@{
    ViewBag.Title = "Edit";
}
<h2>
    Edit</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

         @Html.HiddenFor(model => model.UserDetailId)
        <div style="clear: both; height: 10px">
        </div>
            <div class="div-editor-label">
            @Html.Label("Role")
        </div>
        <div class="div-editor-field">
            @Html.DropDownList("Role", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select Role")
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="div-editor-field">
            @Html.TextAreaFor(model => model.Address, htmlAttributes: new { cols = 10, rows = 3, style = "width: 300px; height:50px;" })
            @Html.ValidationMessageFor(model => model.Address)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.ZipCode)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.ZipCode)
            @Html.ValidationMessageFor(model => model.ZipCode)
        </div>
      <div class="div-editor-label">
        @Html.LabelFor(model => model.Region)
    </div>
    <div class="div-editor-field">
        @Html.EditorFor(model => model.Region)
        @Html.ValidationMessageFor(model => model.Region)
    </div>
    <div class="div-editor-label">
        @Html.LabelFor(model => model.ServiceProviderName)
    </div>
    <div class="div-editor-field">
        @Html.EditorFor(model => model.ServiceProviderName)
        @Html.ValidationMessageFor(model => model.ServiceProviderName)
    </div>
    <div class="div-editor-label">
        @Html.LabelFor(model => model.Designation)
    </div>
    <div class="div-editor-field">
        @Html.EditorFor(model => model.Designation)
        @Html.ValidationMessageFor(model => model.Designation)
    </div>
    <div class="div-editor-label">
        @Html.LabelFor(model => model.Age)
    </div>
    <div class="div-editor-field">
        @Html.EditorFor(model => model.Age)
        @Html.ValidationMessageFor(model => model.Age)
    </div>
    <div class="div-editor-label">
        @Html.LabelFor(model => model.MobileNumber)
    </div>
    <div class="div-editor-field">
        @Html.EditorFor(model => model.MobileNumber)
        @Html.ValidationMessageFor(model => model.MobileNumber)
    </div>
    
        <div style="clear: both; height: 10px">
        </div>
    
    <div style="clear: both; height: 10px">
    </div>
    <p >
        <input type="submit" value="Create" />
    </p>
}
<div >
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
