﻿@using GridMvc.Html
@model IEnumerable<VendingInspection.Models.UserDetail>
@{
    ViewBag.Title = "Manage Users";
}
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
<div style="height: 490px">
    <div style="height: 50px;">
        <h2>
            Manage Users</h2>
    </div>
    <div style="height: 440px;">
        <div style="height: 40px;">
            <span id="id_0" class="button_example" style="cursor: pointer;">
                @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "Button" })
            </span>
        </div>
        <div style="height: 400px; vertical-align: top">
            @Html.Grid(Model).Columns(columns =>
       {

           columns.Add(c => c.UserName).Titled("User Name");
           columns.Add(c => c.FirstName).Titled("First Name");
           columns.Add(c => c.LastName).Titled("Last Name");
           columns.Add()
                                .Titled("Address")
                                .Sanitized(false)
                                .Encoded(false)
                                .RenderValueAs(o => o.Address + "," + o.City + "," + o.State);
           columns.Add(c => c.ZipCode).Titled("Zip Code");
           columns.Add()
                                .Titled("Action")
                                .Sanitized(false)
                                .Encoded(false)
                                .RenderValueAs(o => Html.ActionLink("Edit", "Edit", "User", new { Id = o.UserDetailId }, null).ToHtmlString() + Html.ActionLink("Delete", "Delete", "User", new { Id = o.UserDetailId }, null).ToHtmlString() + Html.ActionLink("Details", "Details", "User", new { Id = o.UserDetailId }, null).ToHtmlString()
                                    + Html.ActionLink("Inventory Items", "Index", "UserInventoryItem", new { Id = o.UserDetailId }, null).ToHtmlString());

       }).WithPaging(50).Sortable(true)
        </div>
    </div>
</div>
