﻿@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Import</h2>
 @using (Html.BeginForm("ImportMachine", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
 {
 <table>
 <tr><td>Excel file</td><td><input  type="file"  id="FileUpload1" name="FileUpload1"/></td></tr>
 <tr><td></td><td><input  type="submit" id="Submit1" name="Submit" value="Import Machine"/></td></tr>
 </table>
 }

 @using (Html.BeginForm("ImportSpare", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
 {
 <table>
 <tr><td>Excel file</td><td><input  type="file"  id="FileUpload2" name="FileUpload2"/></td></tr>
 <tr><td></td><td><input  type="submit" id="Submit2" name="Submit" value="Import Spare"/></td></tr>
 </table>
 }

 @using (Html.BeginForm("ImportRS", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
 {
 <table>
 <tr><td>Excel file</td><td><input  type="file"  id="FileUpload3" name="FileUpload3"/></td></tr>
 <tr><td></td><td><input  type="submit" id="Submit3" name="Submit" value="Import RS"/></td></tr>
 </table>
 }

