﻿
<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Vending Care</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="../../Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
    <script type="text/javascript">

        $.ajaxSetup({ cache: false });

        $(document).ready(function () {
            $(".openDialog").live("click", function (e) {
                e.preventDefault();

                $("<div style ='background-color:#efeeef;'></div>")
                    .addClass("dialog")
                    .attr("id", $(this)
                    .attr("data-dialog-id"))
                    .appendTo("body")
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove(); },
                        modal: true,
                        height: $(this).attr("height"),
                        width: $(this).attr("width"),
                        left: 0

                    })
                    .load(this.href);
            });

            $(".close").live("click", function (e) {
                e.preventDefault();
                $(this).closest(".dialog").dialog("close");

            });
        });
    </script>

    <style type="text/css">
        
        #menu, #menu ul {
	list-style:none;
	padding:0;
	margin:0;
}
#menu li {
	float:left;
	position:relative;
	line-height: 2.5em;
	width: 8em;
}

#menu li ul li {
	float:left;
	position:relative;
	line-height: 2.5em;
	width: 12em;
}

        
        #menu li ul {
	position:absolute;
	margin-top:-0.5em;
	margin-left:.15em;
	display:none;
}
#menu ul li ul {
	margin-top:-3.5em;
	margin-left:3em;
	text-align:left;
	width:15em;
	
	
}
        
      

#menu a {
	display:inline;
	border-right:1px solid #fff;
	background:Yellow;
	color:#3B3B3B;
	text-decoration:none;
	padding:0 10px;
	margin-top:0px;
	width:100px;
	height:30px;
}
#menu a:hover {
	background-color:Yellow;
	color:#fff;
}
#menu ul {
	border-top:1px solid #fff;
}
#menu ul a {
	background:Yellow;
	height:30px;
}

/* SHOW SUBMENU 1 */
#menu li:hover ul, #menu li.over ul {
	display:block;
}
#menu li:hover ul ul, #menu li.over ul ul {
	display:none;
}
/* SHOW SUBMENU 2 */
#menu ul li:hover ul, #menu ul li.over ul {
	display:block;
}

    </style>

</head>
<body>
    <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Machine Care", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Dashboard", "Home")</li>
                            <li>@Html.ActionLink("RouteCause", "Index", "RouteCause")</li>
                            <li>@Html.ActionLink("Users", "Index", "User")</li>
                            <li>@Html.ActionLink("Jobs", "Index", "Job")</li>
                            <li>@Html.ActionLink("Machines", "Index", "Machine")</li>
                             <li>@Html.ActionLink("Inventory", "Index", "InventoryItem")</li>
                             <li>@Html.ActionLink("Permissions", "Index", "Group")</li>
                             <li>@Html.ActionLink("Reports", "", "")
                             <ul style="background-color:Lime">
			            <li style="background-color:Yellow;height:30px">@Html.ActionLink("PM Report", "GetJobReport", "Report", new { jobTypeId = 1 }, null)</li>
                             <li style="background-color:Yellow;margin-top:1px;height:30px">@Html.ActionLink("BM", "GetJobReport", "Report", new { jobTypeId = 2 }, null)</li>
                             <li style="background-color:Yellow;margin-top:1px;height:30px">@Html.ActionLink("PDI", "GetJobReport", "Report", new { jobTypeId = 3 }, null)</li>
                             <li style="background-color:Yellow;margin-top:1px;height:30px">@Html.ActionLink("Ins", "GetJobReport", "Report", new { jobTypeId = 4 }, null)</li>
                             <li style="background-color:Yellow;margin-top:1px;height:30px">@Html.ActionLink("RS Wise", "GetRSWiseReport", "Report")</li>
                             <li style="background-color:Yellow;margin-top:1px;height:30px">@Html.ActionLink("Model Wise", "GetModelWiseReport", "Report")</li>
                             <li style="background-color:Yellow;margin-top:1px;height:30px">@Html.ActionLink("Spares Consum.", "GetSparesConsumption", "Report")</li>
                             <li style="background-color:Yellow;margin-top:1px;height:30px">@Html.ActionLink("Category Wise", "GetCategoryWise", "Report")</li>
                             <li style="background-color:Yellow;margin-top:1px;height:30px">@Html.ActionLink("Inactive Machines", "GetMachines", "Report", new { Status="InActive"},null)</li>

                </ul>
                             </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
           @Html.Raw(@ViewBag.Message)  
            @RenderBody()
        </section>
    </div>
    <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Span Infotech Pvt. Ltd.</p>
                </div>
            </div>
        </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
