﻿@if (Session["UserName"] != null)
{
    <text>
        Hello, @Html.ActionLink(Convert.ToString(Session["UserName"]), "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @Html.ActionLink("Log off", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "logoutForm" })
    </text>
} else {
    <ul>
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { returnUrl  = "abc"}, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

