﻿@using System.Collections
@using System.Web.Mvc.Html
@using VendingInspection.Models
@model VendingInspection.Models.Job
@{
    ViewBag.Title = "Details";
    List<VendingInspection.Models.WorkOrderParameter> preventiveParameters = ViewBag.PreventiveWorkOrderParameters;
    List<VendingInspection.Models.WorkOrderParameter> installationParameters = ViewBag.InstallationWorkOrderParameters;
    List<VendingInspection.Models.InventoryItem> JobInventoryDetail = ViewBag.JobInventoryDetail;
    List<VendingInspection.Models.JobIngredient> JobIngredientDetail = ViewBag.JobIngredientDetail;
    List<VendingInspection.Models.JobImage> JobImages = ViewBag.JobImages;
    List<VendingInspection.Models.JobComplaintDetail> JobComplaintDetails = ViewBag.JobComplaintDetail;
}
<h2>
    WorkOrder Details</h2>
@if (Model != null)
{
    var listString = new List<string>();
    <div style="height: 20px">
    </div>
    <div class="form_table">
        <div>
            <h3>
                Job details</h3>
        </div>
        <div style="clear: both; height: 20px">
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Asset No")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayFor(model => Model.BarCode)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Job Creation Date")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayFor(model => Model.JobCreationDate)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Job Start Location")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayFor(model => Model.JobStartLocation)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Job End Location")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayFor(model => Model.JobEndLocation)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Job Start Date")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayFor(model => Model.JobStartDate)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Job Finish Date")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayFor(model => Model.JobFinishDate)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Remarks")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayFor(model => Model.Remarks)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Customer Contact No")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayFor(model => Model.CustomerContactNo)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                Present Status
            </div>
            <div class="form_rightColumn">
                @if (Model != null && Model.Status == 1)
                {
                    @Html.DisplayName("Completed")
                }
                else
                {
                    @Html.DisplayName("Pending")
                }
            </div>
        </div>
        <div>
            <h3>
                Complaint Category and Job performed</h3>
        </div>
        <div style="clear: both; height: 20px">
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Complaint Category")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayName("Job Performed")
            </div>
        </div>
        @foreach (var complaintDetail in JobComplaintDetails)
        {
            <div>
                <div class="form_leftColumn">
                    @Html.DisplayName(complaintDetail.ComplaintCategory)
                </div>
                <div class="form_rightColumn">
                    @Html.DisplayName(complaintDetail.RouteCause)
                </div>
            </div>
        }
        <div>
            <h3>
                Images</h3>
        </div>
        <div style="clear: both; height: 20px">
        </div>
        <div>
            @foreach (var image in JobImages)
            {
                <div class="form_rightColumn">
                    <span class="image">
                        <img src="~/WorkOrder/GetWorkOrderPicture/@image.ImageId" height="100" width="100" alt="jobImage" />
                    </span>
                </div>
            }
        </div>
        <div>
            <h3>
                Spares Used</h3>
        </div>
        <div style="clear: both; height: 20px">
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Spare Part Name")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayName("Quantity")
            </div>
        </div>
        @foreach (var inventoryItem in JobInventoryDetail)
        {
            <div>
                <div class="form_leftColumn">
                    @Html.DisplayName(inventoryItem.ItemName)
                </div>
                <div class="form_rightColumn">
                    @Html.DisplayName(inventoryItem.Quantity.ToString())
                </div>
            </div>
        }
        <div>
            <h3>
                Ingredient Details</h3>
        </div>
        <div style="clear: both; height: 20px">
        </div>
        <div>
            <div class="form_leftColumn_nocolor" style="color: Black; font-weight: bold; margin-left: 10px">
                @Html.DisplayName("Inventory Item")
            </div>
            <div class="form_rightColumn">
                <div class="form_rightColumn_nowidth" style="width: 100px; color: Black; font-weight: bold;
                    margin-left: 10px">
                    @Html.DisplayName("Water")
                </div>
                <div class="form_rightColumn_nowidth" style="width: 100px; color: Black; font-weight: bold;
                    margin-left: 10px">
                    @Html.DisplayName("Premix")
                </div>
                <div class="form_rightColumn_nowidth" style="width: 100px; color: Black; font-weight: bold;
                    margin-left: 10px">
                    @Html.DisplayName("Temp")
                </div>
                <div class="form_rightColumn_nowidth" style="width: 100px; color: Black; font-weight: bold;
                    margin-left: 10px">
                    @Html.DisplayName("Counter")
                </div>
            </div>
        </div>
        @foreach (var ingredientItem in JobIngredientDetail)
        {
            <div>
                <div class="form_leftColumn">
                    @Html.DisplayName(ingredientItem.Ingredient.IngredientName)
                </div>
                <div class="form_rightColumn">
                    <div class="form_rightColumn_nowidth" style="width: 100px; color: Black; margin-left: 10px">
                        @Html.DisplayName(ingredientItem.Water.ToString())
                    </div>
                    <div class="form_rightColumn_nowidth" style="width: 100px; color: Black; margin-left: 10px">
                        @Html.DisplayName(ingredientItem.Premix.ToString())
                    </div>
                    <div class="form_rightColumn_nowidth" style="width: 100px; color: Black; margin-left: 10px">
                        @Html.DisplayName(ingredientItem.Temp.ToString())
                    </div>
                    <div class="form_rightColumn_nowidth" style="width: 100px; color: Black; margin-left: 10px">
                        @Html.DisplayName(ingredientItem.Counter.ToString())
                    </div>
                </div>
            </div>
        }
        <div>
            <h3>
                Workorder Checklist</h3>
        </div>
        @foreach (var param in installationParameters)
        {

            if (listString.Contains(param.ParameterType) == false)
            {
                listString.Add(param.ParameterType);
            <div style="clear: both; height: 20px">
            </div>
            <div>
                <div class="form_leftColumn" style="color: Black; font-weight: bold; margin-left: 10px">
                    @Html.DisplayName(param.ParameterType)
                </div>
                <div class="form_rightColumn">
                    @{
                var parameters = Model.WorkOrders.Where(n => n.WorkOrderParameter.ParameterType ==
                                                  param.ParameterType).ToList();
                foreach (var workOrder in parameters)
                {

                        <div style="float: left">@Html.DisplayFor(model => workOrder.WorkOrderParameter.ParameterName)</div>
                        <div>
                            @if (workOrder.Value == "Yes")
                            { <img style="margin-left: 10px" src="~/Images/Green_check.png" height="15px" width="15px"
                                alt="green_check" />}

                            else
                            {<img style="margin-left: 10px" src="~/Images/Cross_sign.png" height="15px" width="15px"
                                alt="cross_sign" />
                            }
                        </div>
                    
                                        
                        <div style="clear: both; height: 5px">
                        </div>

                }
                    }
                </div>
            </div>
            }
        }
        <div>
            <h3>
                Signature</h3>
        </div>
        <div style="clear: both; height: 20px">
        </div>
        <div>
            <span class="image">
                <img src="~/WorkOrder/GetWorkOrderSignature/@Model.JobId" height="100" width="100" alt="" /></span>
        </div>
    </div>
    <div style="clear: both; height: 20px">
    </div>
    
    <p>
        @Html.ActionLink("Back to List", "Index", "Job")
    </p>
}
