﻿@model VendingInspection.Models.WorkOrder

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>WorkOrder</legend>

        @Html.HiddenFor(model => model.WorkOrderId)

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyId, "Company")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CompanyId", String.Empty)
            @Html.ValidationMessageFor(model => model.CompanyId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JobId, "Job")
        </div>
        <div class="editor-field">
            @Html.DropDownList("JobId", String.Empty)
            @Html.ValidationMessageFor(model => model.JobId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WorkOrderParameterId, "WorkOrderParameter")
        </div>
        <div class="editor-field">
            @Html.DropDownList("WorkOrderParameterId", String.Empty)
            @Html.ValidationMessageFor(model => model.WorkOrderParameterId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Value)
            @Html.ValidationMessageFor(model => model.Value)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
