﻿@model IEnumerable<VendingInspection.Models.WorkOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderParameter.ParameterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrderParameter.ParameterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkOrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorkOrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkOrderId })
        </td>
    </tr>
}

</table>
