﻿@using System.Collections
@using System.Web.Mvc.Html
@using VendingInspection.Models
@model VendingInspection.Models.Job
@{
    ViewBag.Title = "Details";
    List<VendingInspection.Models.InventoryItem> JobInventoryDetail = ViewBag.JobInventoryDetail;
    VendingInspection.Models.PDIInformation PdiDetail = ViewBag.PDIDetail;
}
<h2>
    WorkOrder Details</h2>
@if (Model != null)
{
    List<string> listString = new List<string>();
    
    
    <div style="height: 20px">
    </div>
    <div class="form_table">
        <div>
            <h3>
                Job details</h3>
        </div>
        <div style="clear: both; height: 20px">
        </div>
         <div>
            <div class="form_leftColumn">
                Asset No
            </div>
            <div class="form_rightColumn">
                @Html.DisplayFor(model => Model.BarCode)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayNameFor(model => Model.JobStartLocation)
            </div>
            <div class="form_rightColumn">
                @Html.DisplayFor(model => Model.JobStartLocation)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayNameFor(model => Model.JobEndLocation)
            </div>
            <div class="form_rightColumn">
                @Html.DisplayFor(model => Model.JobEndLocation)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayNameFor(model => Model.JobStartDate)
            </div>
            <div class="form_rightColumn">
                @Html.DisplayFor(model => Model.JobStartDate)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayNameFor(model => Model.JobFinishDate)
            </div>
            <div class="form_rightColumn">
                @Html.DisplayFor(model => Model.JobFinishDate)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("RS Name")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayName(PdiDetail.RSName)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                RS Contact No.
            </div>
            <div class="form_rightColumn">
                @Html.DisplayFor(model => Model.CustomerContactNo)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Lane")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayName(PdiDetail.Lane)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Model")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayName(PdiDetail.Model)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("AC or Dc")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayName(PdiDetail.ACOrDc)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Water Source")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayName(PdiDetail.WaterSource)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Manufacturer Name")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayName(PdiDetail.ManufecturerName)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Manufacturer Year")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayName(PdiDetail.ManufacturerYear)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Brand")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayName(PdiDetail.Branding)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Over All Body Condition")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayName(PdiDetail.OverAllBodyCondition)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                Remarks
            </div>
            <div class="form_rightColumn">
            @Html.DisplayFor(model => Model.Remarks)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                Present Status
            </div>
            <div class="form_rightColumn">
                @if (Model.Status == 1)
                {
                    @Html.DisplayName("Completed")
                }
                else
                {
                    @Html.DisplayName("Pending")
                }
            </div>
        </div>
        
        <div>
            <h3>
                Spares Used</h3>
        </div>
        <div style="clear: both; height: 20px">
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Spare Part Name")
            </div>
            <div class="form_rightColumn">
                @Html.DisplayName("Quantity")
            </div>
        </div>
        @foreach (var inventoryItem in JobInventoryDetail)
        {
            <div>
                <div class="form_leftColumn">
                    @Html.DisplayName(inventoryItem.ItemName)
                </div>
                <div class="form_rightColumn">
                    @Html.DisplayName(inventoryItem.Quantity.ToString())
                </div>
            </div>
        }
        <div>
            <h3>
                Signature</h3>
        </div>
        <div style="clear: both; height: 20px">
        </div>
        <div>
            <span class="image">
                <img src="~/WorkOrder/GetWorkOrderSignature/@Model.JobId" height="100" width="100" alt="" /></span>
        </div>
    </div>
    <div style="clear: both; height: 20px">
    </div>
    
    <p>
        @Html.ActionLink("Back to List", "Index", "Job")
    </p>
}
