﻿@model VendingInspection.Models.RouteCause

@{
    ViewBag.Title = "Create";
}

<h2>
    Add new Route Cause</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div style="clear: both; height: 10px">
    </div>
    <div style="float: left; width: 400px">
        <div class="div-editor-label">
            @Html.LabelFor(model => model.ComplaintCategoryId, "Complaint Category")
        </div>
        <div class="div-editor-field">
           @Html.DropDownList("ComplaintCategoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.ComplaintCategoryId)
        </div>
        <div style="clear: both; height: 10px">
    </div>
    <div style="clear: both; height: 10px">
    </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.RouteCause1,"RouteCause1")
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.RouteCause1)
            @Html.ValidationMessageFor(model => model.RouteCause1)
        </div>
    </div>
    <div style="clear: both; height: 10px">
    </div>
  
    <div style="clear: both; height: 20px">
    </div>
    <p>
        <input type="submit" value="Create" />
    </p>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}














