﻿@model VendingInspection.Models.RouteCause

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RouteCause</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ComplaintCategory.ComplaintCategory1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ComplaintCategory.ComplaintCategory1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RouteCause1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RouteCause1)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RouteCauseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
