﻿@model VendingInspection.Models.RouteCause

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RouteCause</legend>

        @Html.HiddenFor(model => model.RouteCauseId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ComplaintCategoryId, "ComplaintCategory")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ComplaintCategoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.ComplaintCategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RouteCause1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RouteCause1)
            @Html.ValidationMessageFor(model => model.RouteCause1)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
