﻿@model IEnumerable<VendingInspection.Models.RouteCause>
@using GridMvc.Html
@{
    ViewBag.Title = "Manage Jobs";
}
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<div style="height: 490px">
    <div style="height: 50px;">
        <h2>
            Manage Route Cause</h2>
    </div>
    <div style="height: 440px;">
        <div style="height: 40px;">
            <span id="id_0" class="button_example" style="cursor: pointer;">
                @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "Button" })
            </span>
        </div>
        <div style="height: 400px; vertical-align: top">
            @Html.Grid(Model).Columns(columns =>
       {
           columns.Add(c => c.ComplaintCategory.ComplaintCategory1).Titled("Complaint Category").SetWidth(250);
           columns.Add(c => c.RouteCause1).Titled("RouteCause").SetWidth(450);
           columns.Add()
                                .Titled("Action")
                                .Sanitized(false)
                                .Encoded(false)
                                .RenderValueAs(c => Html.ActionLink("Edit", "Edit", "RouteCause", new { Id = c.RouteCauseId }, null).ToHtmlString() + "|" + Html.ActionLink("Delete", "Delete", "RouteCause", new { Id = c.RouteCauseId }, new { onclick = "return confirm('Are you sure you want to delete this route cause?')" }).ToHtmlString());
       }).WithPaging(50).Sortable(true)
        </div>
    </div>
</div>




