﻿@model VendingInspection.Models.UserInventoryItem

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserInventoryItem</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserDetailId, "UserDetail")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserDetailId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserDetailId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemId, "InventoryItem")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ItemId", String.Empty)
            @Html.ValidationMessageFor(model => model.ItemId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
