﻿@model VendingInspection.Models.UserInventoryItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UserInventoryItem</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserDetail.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserDetail.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InventoryItem.ItemName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InventoryItem.ItemName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserInventoryItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
