﻿@model VendingInspection.Models.UserInventoryItemsForUserId
@{
    ViewBag.Title = "Edit";
    Layout = null;
}
<h2>
    Edit</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ItemId)
    @Html.HiddenFor(model => model.UserDetailId)
    @Html.HiddenFor(model => model.UserInventoryItemId)
        
   
    <div style="clear: both; height: 10px">
    </div>
@*<div>
        <div class="form_leftColumn">
            @Html.LabelFor(model => model.ItemName, "Item Name")
        </div>
        <div class="form_rightColumn">
            @Html.LabelFor(model => model.ItemName, Model.ItemName)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="form_rightColumn">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>
    </div>*@
    <div class="div-editor-label">
        @Html.LabelFor(model => model.ItemName, "Item Name")
    </div>
    <div class="div-editor-field">
        @Html.LabelFor(model => model.ItemName, Model.ItemName)
    </div>
    <div class="div-editor-label">
        @Html.LabelFor(model => model.Quantity)
    </div>
    <div class="div-editor-field">
        @Html.EditorFor(model => model.Quantity)
        @Html.ValidationMessageFor(model => model.Quantity)
    </div>
    <p>
        <input type="submit" value="Save" />
    </p>
   
}
<div>
    @Html.ActionLink("Back to List", "Index", new { id = Model.UserDetailId })
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
