﻿@using GridMvc.Html
@model IEnumerable<VendingInspection.Models.UserInventoryItemsForUserId>
@{
    ViewBag.Title = "Manage Users InventoryItems";
}
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<div style="height: 490px">
    <div style="height: 50px;">
        <h2>
            Manage Users InventoryItems</h2>
    </div>
    <div style="height: 440px;">
        <div style="height: 400px; vertical-align: top">
            @if (Model != null)
            {@Html.Grid(Model).Columns(columns =>
                                          {

                                              columns.Add(c => c.ItemName).Titled("Item Name");
                                              columns.Add(c => c.Quantity).Titled("Quantity");
                                              columns.Add()
                                                  .Titled("Action")
                                                  .Sanitized(false)
                                                  .Encoded(false)
                                                  .RenderValueAs(o => Html.ActionLink("Edit", "Edit", "UserInventoryItem", new { userid = o.UserDetailId, itemId = o.ItemId }, new { @class = "openDialog", data_dialog_id = "aboutlDialog", data_dialog_title = "User InventoryItems", height = 320, width = 600 }));

                                          }).WithPaging(200).Sortable(true)}
        </div>
    </div>
</div>
@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
              $1$  @Html.ActionLink("Edit", "Edit", new { id = item.UserInventoryItemId }) |
                @Html.ActionLink("Details", "Details", new { id = item.UserInventoryItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UserInventoryItemId })#1#
                @Html.ActionLink("Edit", "Edit", "UserInventoryItem", new { userid = item.UserDetailId, itemId = item.ItemId }, new { @class = "openDialog", data_dialog_id = "aboutlDialog", data_dialog_title = "About Us" })
            </td>
        </tr>
    }
</table>*@ 