﻿@model VendingInspection.Models.Machine

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Machine</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Barcode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Barcode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SalesRep)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalesRep)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsInGTM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsInGTM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ServiceClass)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ServiceClass)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MachineType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MachineType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ManufacturerYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManufacturerYear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Make)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Make)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AcOrDc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AcOrDc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WaterSource)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WaterSource)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ServiceProviderName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ServiceProviderName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TmName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TmName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sector)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sector)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AreaCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AreaCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remarks)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
