﻿@model VendingInspection.Models.Machine

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div style="clear: both; height: 10px">
    </div>
     @Html.HiddenFor(model => model.MachineId)
    <div style="float: left; width: 400px">
        <div class="div-editor-label">
            @Html.Label("Technician")
        </div>
        <div class="div-editor-field">
            @Html.DropDownList("Technician", (IEnumerable<SelectListItem>)ViewBag.Technicians, "Select Technician")
        </div>

        <div class="div-editor-label">
            @Html.Label("RS")
        </div>
        <div class="div-editor-field">
            @Html.DropDownList("RS", (IEnumerable<SelectListItem>)ViewBag.RSDetails, "Select RS")
        </div>

        <div class="div-editor-label">
            @Html.LabelFor(model => model.Barcode)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.Barcode)
            @Html.ValidationMessageFor(model => model.Barcode)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.InternalId)
        </div>
        <div class="div-editor-field" id="divInterId">
            @Html.EditorFor(model => model.InternalId)
            @Html.ValidationMessageFor(model => model.InternalId)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.CustomerId)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.CustomerId)
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.CustomerName)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.CustomerName)
            @Html.ValidationMessageFor(model => model.CustomerName)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.CustomerAddress)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.CustomerAddress)
            @Html.ValidationMessageFor(model => model.CustomerAddress)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.AreaCode)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.AreaCode)
            @Html.ValidationMessageFor(model => model.AreaCode)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.PinCode)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.PinCode)
            @Html.ValidationMessageFor(model => model.PinCode)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="div-editor-field">
            @Html.DropDownList("IsActive", new List<SelectListItem>
                     {
                        new SelectListItem{ Text="Active", Value = "Active" }, 
                        new SelectListItem{ Text="InActive", Value = "InActive" }
                     }, "Select Active/InActive");
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.MachineLocation)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.MachineLocation)
            @Html.ValidationMessageFor(model => model.MachineLocation)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.ContactPerson)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.ContactPerson)
            @Html.ValidationMessageFor(model => model.ContactPerson)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.ContactNumber)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.ContactNumber)
            @Html.ValidationMessageFor(model => model.ContactNumber)
        </div>
    </div>
    <div style="float: left; width: 400px; margin-left: 50px">
        <div class="div-editor-label">
            @Html.LabelFor(model => model.NumberOfMachine)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.NumberOfMachine)
            @Html.ValidationMessageFor(model => model.NumberOfMachine)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.MachineStatus)
        </div>
        <div class="div-editor-field">
            @Html.DropDownList("MachineStatus", new List<SelectListItem>
                     {
                        new SelectListItem{ Text="Free", Value = "Free" }, 
                        new SelectListItem{ Text="Sold", Value = "Sold" },
                        new SelectListItem{ Text="Rent", Value = "Rent" }
                     }, "Select Machine Status");
            @Html.ValidationMessageFor(model => model.MachineStatus)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.Category)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.Category)
            @Html.ValidationMessageFor(model => model.Category)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.TypeOfAccount)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.TypeOfAccount)
            @Html.ValidationMessageFor(model => model.TypeOfAccount)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.ClassOfAccount)
        </div>
        <div class="div-editor-field">
            @Html.DropDownList("ClassOfAccount", (IEnumerable<SelectListItem>)ViewBag.AccountClasses, "Select Account Class")
            @Html.ValidationMessageFor(model => model.ClassOfAccount)
        </div>

        <div class="div-editor-label">
            @Html.LabelFor(model => model.Lane)
        </div>
        <div class="div-editor-field">
            @Html.DropDownList("Lane", new List<SelectListItem>
                     {
                        new SelectListItem{ Text="1", Value = "1" }, 
                        new SelectListItem{ Text="2", Value = "2" },
                        new SelectListItem{ Text="3", Value = "3" },
                        new SelectListItem{ Text="4", Value = "4" },
                        new SelectListItem{ Text="5", Value = "5" },
                        new SelectListItem{ Text="6", Value = "6" }
                     }, "Select Lane");
            @Html.ValidationMessageFor(model => model.Lane)
        </div>

        <div class="div-editor-label">
            @Html.LabelFor(model => model.Model)
        </div>
        <div class="div-editor-field">
            @Html.DropDownList("Model", (IEnumerable<SelectListItem>)ViewBag.Models, "Select Model")
            @Html.ValidationMessageFor(model => model.Model)
        </div>

        <div class="div-editor-label">
            @Html.LabelFor(model => model.AcOrDc)
        </div>
        <div class="div-editor-field">
            @Html.DropDownList("AcOrDc", new List<SelectListItem>
                     {
                        new SelectListItem{ Text="AC", Value = "AC" }, 
                        new SelectListItem{ Text="DC", Value = "DC" },
                     }, "Select AcOrDc");
            @Html.ValidationMessageFor(model => model.AcOrDc)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.WaterSource)
        </div>
        <div class="div-editor-field">
            @Html.DropDownList("WaterSource", (IEnumerable<SelectListItem>)ViewBag.WaterSources, "Select Water Source")
            @Html.ValidationMessageFor(model => model.WaterSource)
        </div>

        <div class="div-editor-label">
            @Html.LabelFor(model => model.ManufacturerName)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.ManufacturerName)
            @Html.ValidationMessageFor(model => model.ManufacturerName)
        </div>

        <div class="div-editor-label">
            @Html.LabelFor(model => model.ManufacturerYear)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.ManufacturerYear)
            @Html.ValidationMessageFor(model => model.ManufacturerYear)
        </div>
        
        <div class="div-editor-label">
            @Html.LabelFor(model => model.Branding)
        </div>
        <div class="div-editor-field">
            @Html.DropDownList("Branding", (IEnumerable<SelectListItem>)ViewBag.Brands, "Select Brand")
            @Html.ValidationMessageFor(model => model.Branding)
        </div>
        <div class="div-editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="div-editor-field">
            @Html.EditorFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>
    </div>
    <div style="clear: both; height: 10px">
    </div>
  
    <div style="clear: both; height: 20px">
    </div>
    <p>
        <input type="submit" value="Edit" />
    </p>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
