﻿@model IEnumerable<VendingInspection.ViewModels.MachineViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<div style="height: 490px">
    <div style="height: 50px;">
        <h2>
            Manage Machines</h2>
    </div>
    <div style="height: 440px;">
        <div style="height: 40px;">
            <span id="id_0" class="button_example" style="cursor: pointer;">
                @Html.ActionLink("Add new machine", "Create", null, htmlAttributes: new { @class = "Button" })
            </span>
        </div>
        <div style="height: 350px; vertical-align: top;">
            @Html.Grid(Model.ToList()).Columns(columns =>
       {
           columns.Add(c => c.TechnicianName).Titled("Technician").SetWidth(60);
           columns.Add(c => c.RSName).Titled("RSName").SetWidth(100);
           columns.Add(c => c.BarCode).Titled("Barcode").SetWidth(30);
           columns.Add(c => c.CustomerName).Titled("Cust. Name").SetWidth(150);
           columns.Add(c => c.CustomerAddress).Titled("Cust. Addr").SetWidth(150);
           columns.Add(c => c.Active).Titled("Active");
           columns.Add()
                                .Titled("Action")
                                .Sanitized(false)
                                .Encoded(false)
                                .RenderValueAs(c => Html.ActionLink("Edit", "Edit", "Machine", new { Id = c.MachineId }, null).ToHtmlString() + " | " + Html.ActionLink("Delete", "Delete", "Machine", new { Id = c.MachineId }, null).ToHtmlString() + " | " + Html.ActionLink("Details", "Details", "Machine", new { Id = c.MachineId }, null).ToHtmlString());
       }).WithPaging(50).Sortable(true).
        </div>
    </div>
</div>


