﻿@model IEnumerable<VendingInspection.Models.Ingredient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IngredientName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IngredientName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IngredientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.IngredientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IngredientId })
        </td>
    </tr>
}

</table>
