﻿@model VendingInspection.Models.Job
@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">

    function GetBarCodeDetails() {

        var barcode = $("#BarCode").val()
        $.ajax({
            url: '/vendingcare/Machine/GetMachineDetailsFromBarcode',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ barcode: barcode }),
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                if (obj.InternalId != null)
                    $("#divInterId").html(obj.InternalId);

                if (obj.CustomerID != null)
                    $("#divCustomerId").html(obj.CustomerID);

                if (obj.CustomerName != null)
                    $("#divCustomerName").html(obj.CustomerName);

                if (obj.CustomerAddress != null)
                    $("#divCustomerAddress").html(obj.CustomerAddress);
                if (obj.AreaCode != null)
                    $("#divAreaCode").html(obj.AreaCode);
                if (obj.City != null)
                    $("#divCity").html(obj.City);
                if (obj.State != null)
                    $("#divState").html(obj.State);
                if (obj.PinCode != null)
                    $("#divPinCode").html(obj.PinCode);
                if (obj.IsActive != null)
                    $("#divIsActive").html(obj.IsActive);
                if (obj.CustomerID != null)
                    $("#divMachineLocation").html(obj.MachineLocation);
                if (obj.ContactPerson != null)
                    $("#divContactPerson").html(obj.ContactPerson);
                if (obj.ContactNumber != null)
                    $("#divContactNumber").html(obj.ContactNumber);
                if (obj.NumberOfMachine != null)
                    $("#divNumberOfMachine").html(obj.NumberOfMachine);
                if (obj.MachineStatus != null)
                    $("#divMachineStatus").html(obj.MachineStatus);
                if (obj.Category != null)
                    $("#divCategory").html(obj.Category);
                if (obj.TypeOfAccount != null)
                    $("#divTypeOfAccount").html(obj.TypeOfAccount);
                if (obj.ClassOfAccount != null)
                    $("#divClassOfAccount").html(obj.ClassOfAccount);
                if (obj.Lane != null)
                    $("#divLane").html(obj.Lane);
                if (obj.Model != null)
                    $("#divModel").html(obj.Model);
                if (obj.AcOrDc != null)
                    $("#divAcOrDc").html(obj.AcOrDc);
                if (obj.WaterSource != null)
                    $("#divWaterSource").html(obj.WaterSource);

                if (obj.ManufacturerName != null)
                    $("#divManufacturerName").html(obj.ManufacturerName);
                if (obj.ManufacturerYear != null)
                    $("#divManufacturerYear").html(obj.ManufacturerYear);

                if (obj.Branding != null)
                    $("#divBranding").html(obj.Branding);
                if (obj.TechnicianName != null)
                    $("#divTechnicianName").html(obj.TechnicianName);
                if (obj.Remarks != null)
                    $("#divRemarks").html(obj.Remarks);

            }
        });
    }
</script>
<h2>
    Create New Job</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    
    <div style="clear: both; height: 10px">
    </div>
    <div class="div-editor-label">
        @Html.LabelFor(model => model.BarCode)
    </div>
    <div class="div-editor-field">
        <div style="float: left;">
            @Html.EditorFor(model => model.BarCode, new { style = "width: 100px;" })
            @Html.ValidationMessageFor(model => model.BarCode)
        </div>
        <div style="float: left;">
            <img src="~/Images/search_icon.png" title="Search Barcode" alt="findbarcode" style="margin-left: 5px;
                margin-top: 5px; height: 25px" onclick="GetBarCodeDetails()" /></div>
    </div>
    <div style="clear: both; height: 10px">
    </div>
    <div class="div-editor-label">
        @Html.LabelFor(model => model.Technician)
    </div>
    <div class="div-editor-field">
        @Html.DropDownListFor(Model => Model.Technician, (IEnumerable<SelectListItem>)ViewBag.Technicians, "Select Technician")
    </div>
    <div style="clear: both; height: 10px">
    </div>
    <div class="div-editor-label">
        @Html.LabelFor(model => model.JobType)
    </div>
    <div class="div-editor-field">
        @Html.DropDownListFor(Model => Model.JobTypeId, (IEnumerable<SelectListItem>)ViewBag.JobTypes, "Select JobType")
    </div>
    
    <div class="div-editor-label">
        @Html.LabelFor(model => model.CallCategory)
    </div>
    <div class="div-editor-field">
        @Html.DropDownListFor(Model => Model.CallCategory, (IEnumerable<SelectListItem>)ViewBag.CallCategories, "Select Category")
    </div>
    
    
    <div class="div-editor-label">
        @Html.Label("Complaint Registered By")
    </div>
    <div class="div-editor-field">
        @Html.EditorFor(model => model.RegisteredByName)
        
    </div>
    <div class="div-editor-label">
        @Html.Label("Complaint Registered By Number")
    </div>
    <div class="div-editor-field">
        @Html.EditorFor(model => model.RegisteredByNumber)
    </div>
    <div style="float: left; width: 400px">
        <div class="div-editor-label">
            @Html.Label("Internal Id")
        </div>
        <div class="div-editor-field" id="divInterId">
        </div>
        <div class="div-editor-label">
            @Html.Label("Customer Id")
        </div>
        <div class="div-editor-field" id="divCustomerId">
        </div>
        <div class="div-editor-label">
            @Html.Label("Customer Name")
        </div>
        <div class="div-editor-field" id="divCustomerName">
        </div>
        <div class="div-editor-label">
            @Html.Label("Csustomer Address")
        </div>
        <div class="div-editor-field" id="divCustomerAddress">
        </div>
        <div class="div-editor-label">
            @Html.Label("AreaCode")
        </div>
        <div class="div-editor-field" id="divAreaCode">
        </div>
        <div class="div-editor-label">
            @Html.Label("City")
        </div>
        <div class="div-editor-field" id="divCity">
        </div>
        <div class="div-editor-label">
            @Html.Label("State")
        </div>
        <div class="div-editor-field" id="divState">
        </div>
        <div class="div-editor-label">
            @Html.Label("PinCode")
        </div>
        <div class="div-editor-field" id="divPinCode">
        </div>
        <div class="div-editor-label">
            @Html.Label("IsActive")
        </div>
        <div class="div-editor-field" id="divIsActive">
        </div>
        <div class="div-editor-label">
            @Html.Label("MachineLocation")
        </div>
        <div class="div-editor-field" id="divMachineLocation">
        </div>
        <div class="div-editor-label">
            @Html.Label("ContactPerson")
        </div>
        <div class="div-editor-field" id="ContactPerson">
        </div>
        <div class="div-editor-label">
            @Html.Label("ContactNumber")
        </div>
        <div class="div-editor-field" id="divContactNumber">
        </div>
        <div class="div-editor-label">
            @Html.Label("Number Of Machine")
        </div>
        <div class="div-editor-field" id="divNumberOfMachine">
        </div>
    </div>
    <div style="float: left; width: 400px; margin-left: 50px">
        <div class="div-editor-label">
            @Html.Label("MachineStatus")
        </div>
        <div class="div-editor-field" id="divMachineStatus">
        </div>
        <div class="div-editor-label">
            @Html.Label("Category")
        </div>
        <div class="div-editor-field" id="divCategory">
        </div>
        <div class="div-editor-label">
            @Html.Label("TypeOfAccount")
        </div>
        <div class="div-editor-field" id="divTypeOfAccount">
        </div>
        <div class="div-editor-label">
            @Html.Label("ClassOfAccount")
        </div>
        <div class="div-editor-field" id="divClassOfAccount">
        </div>
        <div class="div-editor-label">
            @Html.Label("Lane")
        </div>
        <div class="div-editor-field" id="divLane">
        </div>
        <div class="div-editor-label">
            @Html.Label("Model")
        </div>
        <div class="div-editor-field" id="divModel">
        </div>
        <div class="div-editor-label">
            @Html.Label("AcOrDc")
        </div>
        <div class="div-editor-field" id="divAcOrDc">
        </div>
        <div class="div-editor-label">
            @Html.Label("WaterSource")
        </div>
        <div class="div-editor-field" id="divWaterSource">
        </div>
        <div class="div-editor-label">
            @Html.Label("ManufacturerName")
        </div>
        <div class="div-editor-field" id="divManufacturerName">
        </div>
        <div class="div-editor-label">
            @Html.Label("ManufacturerYear")
        </div>
        <div class="div-editor-field" id="divManufacturerYear">
        </div>
        <div class="div-editor-label">
            @Html.Label("Branding")
        </div>
        <div class="div-editor-field" id="divBranding">
        </div>
        <div class="div-editor-label">
            @Html.Label("Remarks")
        </div>
        <div class="div-editor-field" id="divRemarks">
        </div>
    </div>
    <div style="clear: both; height: 10px">
    </div>
  
    <div style="clear: both; height: 20px">
    </div>
    <p>
        <input type="submit" value="Create" />
    </p>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
