﻿@model VendingInspection.Models.Job

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Job</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.CompanyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OutletName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OutletName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BarCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BarCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AssetNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AssetNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MachineMake)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MachineMake)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MachineModel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MachineModel)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SupervisorName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SupervisorName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
