﻿@model VendingInspection.Models.JobInformation
@{
    ViewBag.Title = "Details";
}
<h2>
    Job Details</h2>
<div style="height: 20px">
</div>
<div class="form_table">
    <div>
        <div class="form_leftColumn" style="font-weight: bold">
            @Html.DisplayName("Technician")
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.Technician)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayName("Job Type")
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.Type)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayName("Call Category")
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.CallCategory)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayName("Complaint Registered By")
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.RegisteredByName)
        </div>
    </div>
    <div>
        <div class="form_leftColumn">
            @Html.DisplayName("Complaint Registered By Number")
        </div>
        <div class="form_rightColumn">
            @Html.DisplayFor(model => model.RegisteredByNumber)
        </div>
    </div>
    
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Internal Id")
            </div>
            <div class="form_rightColumn" id="divInterId">
                @Html.DisplayFor(model => model.InterNalId)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Customer Id")
            </div>
            <div class="form_rightColumn" id="divCustomerId">
                @Html.DisplayFor(model => model.CustomerId)
            </div>
        </div>
        <div class="form_leftColumn">
            @Html.DisplayName("Customer Name")
        </div>
        <div class="form_rightColumn" id="divCustomerName">
            @Html.DisplayFor(model => model.CustomerName)
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Csustomer Address")
            </div>
            <div class="form_rightColumn" id="divCustomerAddress">
                @Html.DisplayFor(model => model.CustomerAddress)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("AreaCode")
            </div>
            <div class="form_rightColumn" id="divAreaCode">
                @Html.DisplayFor(model => model.AreaCode)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("City")
            </div>
            <div class="form_rightColumn" id="divCity">
                @Html.DisplayFor(model => model.City)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("State")
            </div>
            <div class="form_rightColumn" id="divState">
                @Html.DisplayFor(model => model.State)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("PinCode")
            </div>
            <div class="form_rightColumn" id="divPinCode">
                @Html.DisplayFor(model => model.PinCode)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("MachineLocation")
            </div>
            <div class="form_rightColumn" id="divMachineLocation">
                @Html.DisplayFor(model => model.MachineLocation)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("ContactPerson")
            </div>
            <div class="form_rightColumn" id="ContactPerson">
                @Html.DisplayFor(model => model.ContactPerson)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("ContactNumber")
            </div>
            <div class="form_rightColumn" id="divContactNumber">
                @Html.DisplayFor(model => model.ContactNumber)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Number Of Machine")
            </div>
            <div class="form_rightColumn" id="divNumberOfMachine">
                @Html.DisplayFor(model => model.NumberOfMachine)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("MachineStatus")
            </div>
            <div class="form_rightColumn" id="divMachineStatus">
                @Html.DisplayFor(model => model.MachineStatus)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Category")
            </div>
            <div class="form_rightColumn" id="divCategory">
                @Html.DisplayFor(model => model.Category)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("TypeOfAccount")
            </div>
            <div class="form_rightColumn" id="divTypeOfAccount">
                @Html.DisplayFor(model => model.TypeOfAccount)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("ClassOfAccount")
            </div>
            <div class="form_rightColumn" id="divClassOfAccount">
                @Html.DisplayFor(model => model.ClassOfAccount)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Lane")
            </div>
            <div class="form_rightColumn" id="divLane">
                @Html.DisplayFor(model => model.Lane)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Model")
            </div>
            <div class="form_rightColumn" id="divModel">
                @Html.DisplayFor(model => model.RegisteredByNumber)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("AcOrDc")
            </div>
            <div class="form_rightColumn" id="divAcOrDc">
                @Html.DisplayFor(model => model.AcOrDc)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("WaterSource")
            </div>
            <div class="form_rightColumn" id="divWaterSource">
                @Html.DisplayFor(model => model.WaterSource)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("ManufacturerName")
            </div>
            <div class="form_rightColumn" id="divManufacturerName">
                @Html.DisplayFor(model => model.ManufacturerName)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("ManufacturerYear")
            </div>
            <div class="form_rightColumn" id="divManufacturerYear">
                @Html.DisplayFor(model => model.MfgrYear)
            </div>
        </div>
        <div>
            <div class="form_leftColumn">
                @Html.DisplayName("Branding")
            </div>
            <div class="form_rightColumn" id="divBranding">
                @Html.DisplayFor(model => model.Branding)
            </div>
        </div>
    <div style="clear: both; height: 20px">
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.JobId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
