﻿@model VendingInspection.Models.Job
@{
    ViewBag.Title = "Edit";
}
<h2>
    Edit Job</h3>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

   

        @Html.HiddenFor(model => model.JobId)

        <div style="clear: both; height: 10px">
        </div>
        <div style="float: left; width: 400px">
            <div class="div-editor-label">
                @Html.LabelFor(model => model.BarCode)
            </div>
            <div class="div-editor-field">
                <div style="float: left;">
                    @Html.EditorFor(model => model.BarCode, new { style = "width: 100px;" })
                    @Html.ValidationMessageFor(model => model.BarCode)
                </div>
                <div style="float: left;">
                    <img src="~/Images/search_icon.png" title="Search Barcode" alt="findbarcode" style="margin-left: 5px;
                        margin-top: 5px; height: 25px" onclick="GetBarCodeDetails()" /></div>
            </div>
            <div style="clear: both; height: 10px">
            </div>
            <div class="div-editor-label">
                @Html.LabelFor(model => model.Technician)
            </div>
            <div class="div-editor-field">
                @Html.DropDownListFor(Model => Model.Technician, (IEnumerable<SelectListItem>)ViewBag.Technicians, "Select Technician")
            </div>
            <div style="clear: both; height: 10px">
            </div>
            <div class="div-editor-label">
                @Html.LabelFor(model => model.JobType)
            </div>
            <div class="div-editor-field">
                @Html.DropDownListFor(Model => Model.JobTypeId, (IEnumerable<SelectListItem>)ViewBag.JobTypes, "Select JobType")
            </div>
            <div class="div-editor-label">
                @Html.LabelFor(model => model.CallCategory)
            </div>
            <div class="div-editor-field">
                @Html.DropDownListFor(Model => Model.CallCategory, (IEnumerable<SelectListItem>)ViewBag.CallCategories, "Select Category")
            </div>
            <div class="div-editor-label">
                @Html.Label("Complaint Registered By")
            </div>
            <div class="div-editor-field">
                @Html.EditorFor(model => model.RegisteredByName)
            </div>
            <div class="div-editor-label">
                @Html.Label("Complaint Registered By Number")
            </div>
            <div class="div-editor-field">
                @Html.EditorFor(model => model.RegisteredByNumber)
            </div>
        </div>
        <div style="clear: both; height: 10px">
        </div>

       
  
        <div style="clear: both; height: 20px">
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
