﻿@model IEnumerable<VendingInspection.Models.JobInformation>
@using GridMvc.Html
@{
    ViewBag.Title = "Manage Jobs";
}
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<script>
    function CheckJobCompletion(jobStatus)
    {
        if (!jobStatus) { 
            alert("Work order detail not available, as job is yet not completed.")
            return false;
        }
    }
</script>
<div style="height: 490px">
    <div style="height: 50px;">
        <h2>
            Manage Jobs</h2>
    </div>
    <div style="height: 440px;">
        <div style="height: 40px;">
            <span id="id_0" class="button_example" style="cursor: pointer;">
                @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "Button" })
            </span>
        </div>
        <div style="height: 400px; vertical-align: top;">
            @Html.Grid(Model).Columns(columns =>
       {
           columns.Add(c => c.Type).Titled("Type").SetWidth(50);
           columns.Add(c => c.RegisteredByName).Titled("Call Reg. By").SetWidth(50);
           columns.Add(c => c.RegisteredByNumber).Titled("Call Reg. No.").SetWidth(50);
           columns.Add(c => c.CallCategory).Titled("Call Category").SetWidth(50);
           columns.Add(c => c.CustomerName).Titled("Acc. Name").SetWidth(50);
           columns.Add(c => c.BarCode).Titled("BarCode").SetWidth(50);
           columns.Add(c => c.Technician).Titled("Tech.").SetWidth(50);
           columns.Add(c => c.jobcreationdate).Titled("Created On").SetWidth(80);
           columns.Add(c => c.jobstartdate).Titled("Started On").SetWidth(70);
           columns.Add(c => c.jobfinishdate).Titled("Finished on").SetWidth(80);
           columns.Add(c => c.CustomerAddress).Titled("Address").SetWidth(200);
           columns.Add(c => c.Status).Titled("Status").SetWidth(50);

           columns.Add()
                                .Titled("Action")
                                .Sanitized(false)
                                .Encoded(false)
                                .RenderValueAs(c => Html.ActionLink("Edit", "Edit", "Job", new { Id = c.JobId }, new { @style = c.Status == "Finished" ? "display:none" : "display:inline" }).ToHtmlString() + Html.ActionLink("|" + " Delete", "Delete", "Job", new { Id = c.JobId }, new { onclick = "return confirm('Are you sure you want to delete this job?')", @style = c.Status == "Finished" ? "display:none" : "display:inline" }).ToHtmlString() + "|" + Html.ActionLink("Details", "Details", "Job", new { Id = c.JobId }, null).ToHtmlString() + Html.ActionLink("|" + " WorkOrder", "Details", "WorkOrder", new { Id = c.JobId, JobTypeId = c.JobTypeId }, new { onclick = "return CheckJobCompletion('" + c.Status + "');", @style = c.Status == "Finished" ? "display:inline" : "display:none" }).ToHtmlString()).SetWidth(200);
       }).WithPaging(50).Sortable(true)
        </div>
    </div>
</div>
