﻿@model IEnumerable<VendingInspection.Models.TechnicianStatus>
@using GridMvc.Html
@{
    ViewBag.Title = "Manage Permission Groups";
}
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<div style="height: 490px">
    <div style="height: 50px;">
        <h2>
            DashBoard</h2>
    </div>
    <div style="height: 440px;">
        <div style="float:left;width:50%">
            @*@Html.Label("Technician Current Status")
            @Html.Grid(Model).Columns(columns =>
       {
           columns.Add(c => c.TechnicianName).Titled("Technician").SetWidth(50);
           columns.Add(c => c.Area).Titled("Current Area").SetWidth(50);
           columns.Add(c => c.TimeSpent).Titled("Time Spent").SetWidth(50);
       }).WithPaging(50).Sortable(true)*@
        </div>
        <div style="height: 400px; vertical-align: top;width:50%;float:right">
        @Html.Label("Technician Current Status")
            @Html.Grid(Model).Columns(columns =>
       {
           columns.Add(c => c.TechnicianName).Titled("Technician").SetWidth(50);
           columns.Add(c => c.Area).Titled("Current Area").SetWidth(50);
           columns.Add(c => c.TimeSpent).Titled("Time Spent").SetWidth(50);
       }).WithPaging(50).Sortable(true)
        </div>
    </div>
</div>





