﻿@model VendingInspection.Models.LoginModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@using (Html.BeginForm("Login", "Account"))
{
    @Html.AntiForgeryToken()
    
    <div style="height: 440px;">
        <div style="clear: both; height: 120px">
        </div>
        <div style="height: 200px;">
        @Html.ValidationSummary(true)
            <fieldset style="width: 400px; margin: 0px auto 0px auto;">
                <legend style="font-size: small">Log Details</legend>
                <div style="position: relative;">
                    <div style="float: left; width: 200px;">
                        <div class="div-editor-label">
                            @Html.LabelFor(m => m.UserName)
                        </div>
                        <div class="div-editor-field">
                            @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "div-editor-field-userName" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div class="div-editor-label">
                            @Html.LabelFor(m => m.Password)
                        </div>
                        <div class="div-editor-field">
                            @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "div-editor-field-userName" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="div-editor-field">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                        </div>
                        <div class="div-editor-field">
                            <input type="submit" value="Log in" />
                        </div>
                    </div>
                    <div style="float: left; width: 200px;">
                        <img src="~/Images/loginIcon.png" alt="login" style="margin-left: 36px; margin-top: 16px" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div style="clear: both; height: 120px">
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
